// historial.component.scss

// Colores globales
$primary-color: /* #0d47a1; */#007bff;
$secondary-color: #1976d2;
$light-color: #bbdefb;
$dark-color: #0d47a1;
$error-color: #b71c1c;

.historial-table {
  /* width: 100%; */
  width: 90vw; // 90% del ancho del viewport
  margin: 0 auto; // centrar la tabla
  border-collapse: collapse;
  th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid white; // Añade una línea blanca
  }
  th {
    background-color: $primary-color;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.close-historial-button {
  background-color: $error-color;
  color: white;
  &:hover {
    background-color: darken($error-color, 10%);
  }
}
