@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Colores globales
$primary-color: #007bff;
$secondary-color: #1976d2;
$light-color: #bbdefb;
$dark-color: #0d47a1;
$error-color: #b71c1c;
$disableButton-color: #f2f2f2;

body {
  font-family: 'Roboto', sans-serif;
  color: $dark-color;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
}

p {
  color: $dark-color;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.page-title {
  text-align: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}









.error-message {
  /* height: 20px;  *//* Ajusta a la altura de tu mensaje de error */
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $error-color;
}




input, select {
  padding: 0.8rem;
  font-size: 1rem;
  color: $primary-color;
  border: none;
  border-bottom: 1px solid $light-color;
  /* width: 100%; */
  display: block;
  margin: 1.5rem 0; /* Removemos el margen horizontal */
  text-align: center;

  &:focus {
    border-bottom-color: $secondary-color;
  }
}

.calculate_button{
  margin-top: 30px;
  width: 100%;
}

.full-width-button {
  width: 70%;
  margin: 0; /* Asegurémonos de que no hay margen que impida que el botón ocupe todo el ancho */
  /* tus otros estilos... */
}


/* .button-group {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
 */
 .button-group {
  display: flex;
  flex-direction: column; // Cambiamos a column para que los botones se apilen verticalmente
  // align-items: center; // Centramos los botones
  width: 100%;
}


button {
  border-radius: 6px;
  margin: 10px 0; // Cambiamos el margen para que sea solo vertical
  padding: 0.625rem;
  border: none;
  background-color: $primary-color;
  color: white;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:active {
    background-color: darken($primary-color, 20%);
  }

  &:disabled {
    color: $primary-color;
    background-color: $disableButton-color;
    cursor: not-allowed;
  }
}


.full-width-button, button {
  width: 100%;
  border-radius: 6px;
  margin: 10px 0;
  padding: 0.625rem;
  border: none;
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:active {
    background-color: darken($primary-color, 20%);
  }

  &:disabled {
    color: $primary-color;
    background-color: $disableButton-color;
    cursor: not-allowed;
  }
}

a {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

.table {
  width: 100%;

  th, td {
    border-collapse: collapse;
    padding: 0.5rem;
  }

  th {
    background-color: $primary-color;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
};

@media (max-width: 600px) {
  .container, .form-container {
    width: 100%;
  };
};
